<!DOCTYPE html>
<html>
	<title> AAS GYM </title>
	<head>
		<link rel='stylesheet' href='index.css'>
	</head>
	<body> 
		<script src="index.js"></script>
		<div id='div1'>
			<h1> AAS GYM </h1>
		</div>
		<div id='login'>
			<label for="uname">Username:</label><br>
			<input type="text" id="uname" name="uname"><br>
			<label for="pwd">Password:</label><br>
			<input type="password" id="pwd" name="pwd"><br>
			<input type="submit" value="Log In" onclick=login()>
		</div>
	</body>
</html>
