<!DOCTYPE html>
<html>
    <title>AAS Gym</title>
    <head>
        <link rel="stylesheet" href="staff/css/staff.css">
    </head>
    <body>
        <script src="staff/js/staff.js"></script>
        <h1>Welcome Admin</h1>
        <h2>Which table would you like to access?</h2>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Select</button>
            <div class="dropdown-content" style="left:0;">
                <a href="#member">Member Table</a>
                <a href="#trainer">Trainer Table</a> 
                <a href="#nutritionist">Nutritionist</a>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div id="tables">
            <table id="mtable">
                <h3 id="member">Member Table</h3>
                <th>Member ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Date of Joining</th>
                <th>Plan</th>
                <th>Address</th>
                <th>Trainer</th>
                <th>Nutritionist</th>
                <th>Gym</th>
                <th>Edit</th>
            </table>
            <br/>
            <br/>
            <table id="ttable">
                <h3 id="trainer">Trainer Table</h3>
                <th>Trainer ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Salary</th>
                <th>Edit</th>
            </table>
            <br/>
            <br/>
            <table id="ntable">
                <h3 id="nutritionist">Nutritionist Table</h3>
                <th>Nutritionist ID</th>
                <th>Name</th>
                <th>Income</th>
                <th>Visiting Days</th>
                <th>Gym ID</th>
                <th>Edit</th>
            </table>
            <br/>
            <br/>
        </div>
    </body>
</html>