<!DOCTYPE html>
<html>
    <title>AAS Gym</title>
    <head>
        <link rel="stylesheet" href="admin/css/admin.css">
    </head>
    <body>
        <script src="admin/js/admin.js"></script>
        <h1>Welcome Admin</h1>
        <!-- <p>Which table would you like to access?</p>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Left</button>
            <div class="dropdown-content" style="left:0;">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div> -->
        
    </body>
</html>