<!DOCTYPE html>
<html>
    <title>AAS Gym</title>
    <head>
        <link rel="stylesheet" href="admin/css/admin.css">
    </head>
    <body>
        <script src="admin/js/admin.js"></script>
        <script src="admin/js/edit.js"></script>
        <h1>Welcome Admin</h1>
        <h2>Which table would you like to access?</h2>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Select</button>
            <div class="dropdown-content" style="left:0;">
                <a href="#member">Member Table</a>
                <a href="#trainer">Trainer Table</a>
                <a href="#wplan">Workout Plans</a>
                <a href="#snp">Sets and Pulls</a>
                <a href="#dplan">Diet Plans</a>
                <a href="#nutritionist">Nutritionist</a>
                <a href="#adm">Admin Table</a>
                <a href="#payment">Payments</a>
                <a href="#equipment">Equipment Table</a>
                <a href="#gym">Gym</a>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="form-popup" id="myForm">
            <form class="form-container" action="null"></form>
        </div> 
        <div id="tables">
            <table id="mtable">
                <h3 id="member">Member Table</h3>
                <tr id="mhead">
                    <th>Member ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Date of Joining</th>
                    <th>Plan</th>
                    <th>Address</th>
                    <th>Trainer</th>
                    <th>Nutritionist</th>
                    <th>Gym</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="ttable">
                <h3 id="trainer">Trainer Table</h3>
                <tr id="thead">
                    <th>Trainer ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Salary</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="wtable">
                <h3 id="wplan">Workout Plans</h3>
                <tr id="whead">
                    <th>Trainer ID</th>
                    <th>Member ID</th>
                    <th>Duration</th>
                    <th>Muscle Group</th>
                    <th>Sets and Pulls ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="stable">
                <h3 id="snp">Sets and Pulls</h3>
                <tr id="shead">
                    <th>Sets and Pulls ID</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="dtable">
                <h3 id="dplan">Diet Plans</h3>
                <tr id="dhead">
                    <th>Member ID</th>
                    <th>Diet Type</th>
                    <th>Calories</th>
                    <th>Nutritionist ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="ntable">
                <h3 id="nutritionist">Nutritionist Table</h3>
                <tr id="nhead">
                    <th>Nutritionist ID</th>
                    <th>Name</th>
                    <th>Income</th>
                    <th>Visiting Days</th>
                    <th>Gym ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="atable">
                <h3 id="adm">Admin Table</h3>
                <tr id="ahead">
                    <th>Admin ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Gym ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="ptable">
                <h3 id="payment">Payment Table</h3>
                <tr id="phead">
                    <th>Payment ID</th>
                    <th>Mode of Payment</th>
                    <th>GST Number</th>
                    <th>Member ID</th>
                    <th>Amount</th>
                    <th>Admin ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="etable">
                <h3 id="equipment">Equipment Table</h3>
                <tr id="ehead">
                    <th>Equipment Name</th>
                    <th>Type</th>
                    <th>Weight Denomination</th>
                    <th>Gym ID</th>
                </tr>
            </table>
            <br/>
            <br/>
            <table id="gtable">
                <h3 id="gym">Gym Table</h3>
                <tr id="ghead">
                    <th>Gym ID</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Location</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
        </div>
    </body>
</html>